services:
  postgres:
    image: postgres:17.4
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user76584930yr
      - POSTGRES_PASSWORD=pasSw0rD6239ej
      - POSTGRES_DB=catalog_service_db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"
    command: redis-server --requirepass pasSw0Rd